html, body, section, article, div, p, span, ul, li {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

input, textarea {
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  padding: 5px 8px;
}

ul {
  list-style-type: none;
}

html, body, #content, .app {
  position: relative;
  height: 100%;
  width: 100%;
}

.link {
  color: #6c9dc6;
}

.link:hover {
  color: #4078a5;
  cursor: pointer;
}

.dark {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.reader {
  display: flex;
  width: 33%;
  min-height: 40%;
  max-height: 75%;
}

.editor {
  display: flex;
  width: 40%;
  height: 75%;
}

.reader-body,
.editor-title,
.editor-text {
  font-size: x-large;
  line-height: 1.4;
  white-space: pre-wrap;
}

.reader-buttons {
  opacity: 0.15;
  height: 40%;
  margin-right: 50px;
}

.reader-buttons:hover {
  opacity: 1;
}

.editor-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 50px;
}

.editor-sidebar-buttons,
.editor-scene-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.editor-scene-buttons li {
  margin-left: 15px;
}

.editor-index {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 20px 0 20px;
}

.editor-tile {
  margin: 10px;
}

.editor-scene {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.editor-text {
  flex-grow: 1;
  margin: 20px 0 20px;
}

.icon {
  background-image: url(spritesheet.png);
  background-position-y: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon:hover {
  background-position-y: 0;
}

.edit-icon {
  background-position-x: 0;
}

.view-icon {
  background-position-x: 50px;
}

.new-icon {
  background-position-x: 100px;
}

.lights-on-icon {
  background-position-x: 150px;
}

.lights-off-icon {
  background-position-x: 200px;
}
