html, body, section, article, div, p, span {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

input, textarea {
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

.link {
  color: green;
  cursor: pointer;
}

.editor-scene {
  margin: 10px;
  padding: 10px;
  background: #DDBBFF;
}

.editor-scene input,
.editor-scene textarea,
.editor-scene button {
  display: block;
  width: 400px;
  margin: 5px;
}
