html, body, section, article, div, p, span {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

#text-editor {
  padding: 10px;
}

.editor-text-box,
.editor-action {
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}

.editor-text-box div {
  margin: 20px;
}

.editor-text-box p {
  padding: 5px;
}

span:empty {
  display: inline-block;
  height: 1em;
}

p:empty {
  display: block;
  height: 1em;
}

span.link:hover {
  border-bottom: 1px solid red;
}

span.link {
  border-bottom: 1px solid pink;
}

span.link:focus {
  background: gray;
}

span.blank {
  padding: 0px;
  margin: 0px;
}
